.vscode/*
myvenv/*
 
csidjango/media/*
!csidjango/media/base_pics/

csidjango/csidjango/__pycache__/*
csidjango/accounts/__pycache__/*
csidjango/process/__pycache__/*
csidjango/progress/__pycache__/*
csidjango/lists/__pycache__/*
csidjango/schedules/__pycache__/*
csidjango/reports/__pycache__/*
csidjango/documents/__pycache__/*

csidjango/db.sqlite3

/__pycache__/
