{% extends "base_dashboard.html" %}

{% block title %} Progress {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/master.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>
            {% block table_title1 %}
            
            {% endblock table_title1 %}            
            </h2>
            <div class="clearfix"></div>
          </div>            
          <div class="x_content">            
            <table id="datatable1" class="table table-striped projects">            
              
              <thead>
                {% block content_list_head1 %}

                {% endblock content_list_head1 %}
              </thead>

              <tbody>
                {% block content_list_body1 %}

                {% endblock content_list_body1 %}
              </tbody>
              
            </table>
          </div>
        </div>

        <div class="x_panel">
          <div class="x_title">
            <h2>
            {% block table_title2 %}
            
            {% endblock table_title2 %}            
            </h2>
            <div class="clearfix"></div>
          </div>            
          <div class="x_content">            
            <table id="datatable2" class="table table-striped projects">            
              
              <thead>
                {% block content_list_head2 %}

                {% endblock content_list_head2 %}
              </thead>

              <tbody>
                {% block content_list_body2 %}

                {% endblock content_list_body2 %}
              </tbody>
              
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>  
  
  <script>
    $(document).ready(function() {
        $('#datatable1').DataTable();
    } );
  </script>

  <script>
    $(document).ready(function() {
        $('#datatable2').DataTable();
    } );
  </script>
  
{% endblock javascripts %}
