{% extends "progress/base_progress2.html" %}

{% block table_title1 %}
Progress Sertifikasi Awal / Resertifikasi
{% endblock table_title1 %}

{% block content_list_head1 %}
<tr>
    <th class="text-center" style="width: 17%">Sertifikasi</th>
    <th class="text-center">Tahap 1</th>
    <th class="text-center">Tahap 2</th>
    <th class="text-center">Tahap 3</th>
    <th class="text-center">Tahap 4</th>
    <th class="text-center">Tahap 5</th>
    <th class="text-center">Tahap 6</th>
    <th class="text-center">Tahap 7</th>
    <th class="text-center" style="width: 6%">Total</th>
    <th class="text-center" style="width: 6%">Status</th>
    <th class="text-center" style="width: 8%">Action</th>
</tr>
{% endblock content_list_head1 %}

{% block content_list_body1 %}
<tr>  
    <td class="project_progress">
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
        PT Jaya Raya Sentosa Abadi<br>        
        <small >Sertifikasi ISO 9001:2015</small><br>
        <small>Created 01.01.2015</small>
        </a>              
    </td> 
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 1 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 2 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 3 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 4 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 5 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 6 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 7 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
      <span class="label info">100%</span>     
    </td>
    <td class="project_progress">
      <span class="label info">Complete</span>    
    </td>
    <td class="project_progress">
        <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
    </td>
</tr>

<tr>  
    <td class="project_progress">
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
        PT Makmur Selalu<br>        
        <small >Sertifikasi ISO 9001:2015</small><br>
        <small>Created 01.01.2015</small>
        </a>              
    </td> 
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 1 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
            </div>
            <small>Tahap 2 : 80%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 3 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 4 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 5 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 6 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
            </div>
            <small>Tahap 7 : 70%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
      <span class="label success">90%</span>     
    </td>
    <td class="project_progress">
      <span class="label success">In Progress</span>    
    </td>
    <td class="project_progress">
        <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
    </td>
</tr>

<tr>  
    <td class="project_progress">
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
        PT Pantang Mundur<br>        
        <small >Sertifikasi ISO 9001:2015</small><br>
        <small>Created 01.01.2015</small>
        </a>              
    </td> 
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
            </div>
            <small>Tahap 1 : 80%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
            </div>
            <small>Tahap 2 : 80%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 3 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 4 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 5 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 6 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
            </div>
            <small>Tahap 7 : 70%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
      <span class="label success">70%</span>     
    </td>
    <td class="project_progress">
      <span class="label warning">Warning</span>    
    </td>
    <td class="project_progress">
        <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
    </td>
</tr>
                 
{% endblock content_list_body1 %}


{% block table_title2 %}
Progress Survailen
{% endblock table_title2 %}

{% block content_list_head2 %}
<tr>
    <th class="text-center" style="width: 20%">Sertifikasi</th>
    <th class="text-center">Tahap 1</th>
    <th class="text-center">Tahap 2</th>
    <th class="text-center">Tahap 3</th>
    <th class="text-center">Tahap 4</th>    
    <th class="text-center" style="width: 6%">Total</th>
    <th class="text-center" style="width: 6%">Status</th>
    <th class="text-center" style="width: 8%">Action</th>
</tr>
{% endblock content_list_head2 %}

{% block content_list_body2 %}
<tr>  
    <td class="project_progress">
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
        PT Jaya Raya Sentosa Abadi<br>        
        <small >Survailen ISO 14001:2015</small><br>
        <small>Created 01.01.2015</small>
        </a>              
    </td> 
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 1 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 2 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 3 : 100%</small>            
        </a>          
    </td>    
    <td class="project_progress">        
        <a href="#" class="btn btn-outline-light btn-xs btn-block">
            <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <small>Tahap 4 : 100%</small>           
        </a>          
    </td>
    <td class="project_progress">        
      <span class="label info">100%</span>     
    </td>
    <td class="project_progress">
      <span class="label info">Complete</span>    
    </td>
    <td class="project_progress">
        <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
    </td>
</tr>
                 
{% endblock content_list_body2 %}